@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
}

.selection__title {
  text-align: center;
  margin: 2rem 0 0;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
}

.selection__area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector {
  display: flex;
  width: 50%;
  font-size: 1.5rem;
  max-width: 50%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #D8EEF9;
  }

  &:active {
    background-color: #39ACE6;
  }

  &:first-of-type {
    background: #85144B;
  }

  &:last-of-type {
    background: #FF851B;
  }
}
